@model TP3_KVGN.Models.bon_commande

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>bon_commande</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.vehicule.immatriculation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vehicule.immatriculation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.commande.id_commande)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.commande.id_commande)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_bon_commande }) |
    @Html.ActionLink("Back to List", "Index")
</p>
